<div class="collapse navbar-collapse text-center" id="topNavbar">

  <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-lg-start justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'hikes:index' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'hikes:hiker-list' %}">Hikers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'hikes:expedition-list' %}">Expeditions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'hikes:region-list' %}">Regions</a>
    </li>
  </ul>

  <ul class="navbar-nav ms-auto w-100 justify-content-lg-end justify-content-center mt-3 mt-lg-0">
    {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link active" href="{{ user.get_absolute_url }}">
          User: {{ user.get_username }}
        </a>
      </li>
      <li class="nav-item">
        <form method="post" action="{% url 'logout' %}" class="d-inline">
          {% csrf_token %}
          <button type="submit" class="nav-link bg-transparent border-0 d-inline-block">Logout</button>
        </form>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Login</a>
      </li>
    {% endif %}
  </ul>
</div>
