<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <li class="list-group-item">
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-link">Logout</button>
      </form>
    </li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %}

  <br>

  <li class="list-group-item"><a href="{% url "hikes:index" %}">Home</a></li>
  <li class="list-group-item"><a href="{% url "hikes:hiker-list" %}">Hikers</a></li>
  <li class="list-group-item"><a href="{% url "hikes:expedition-list" %}">Expeditions</a></li>
  <li class="list-group-item"><a href="{% url "hikes:region-list" %}">Regions</a></li>
</ul>
